<h1>New Pal</h1>
<p>Critical ground communication for SMS based communities</p>


<div> 
	<form>
	<label>Word Filter:</label> 
		<input type="text" ng-model="yourWord" placeholder="Enter a word to filter"> <hr> 
	</form>
		<h1>Searching for: {{yourWord}}</h1> 
</div>


